/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width:100%;
	
    
}

/*General Styles*/
html{
    font-size:62.5%;
}
body{
    font-size:1.8rem;
    color:#ffff;
    line-height:1.5;
    font-family: 'PT Sans', sans-serif;
	background-color:#4F4F4f;
	text-align: center;
}
h1, h2, h3{
    font-family: 'Nunito', sans-serif;
}
h1{
    font-size:5rem;
}
h2{
    font-size:3.5rem;
}
section{
    padding:4% 0;
}
a{
    text-decoration:none;
    color:#ffff;
	border:px solid black ;
	padding: 0.7rem;
	background-color: black;
	display: inline-flex;
	flex-direction: row;

	
}


.navi{
	margin-top:3rem;
}
.Site{
	margin:0 19rem;
}

.row{
	display: flex;
	flex-wrap: wrap;
	width:100%;
	flex-direction:row ;
	justify-content:space-evenly;
}
.row img
.space{
	margin-left: 8rem;
	text-indent: 7rem;
}
footer{
	background-color: black;
	padding: 3rem;
}
a:hover{
	border: solid #4F4f4F;
	background-color: #4F4F4f;
	transition-duration:2s;
}

@media(max-width:800px){
	a{
		display:flex;
		flex-direction: column;
		margin:0 9rem 1rem 9rem
	}
	.small{
		margin: 0 18rem
	}
	.Site{
		font-size:1.1rem;
	}
	.bottom{
		display:flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.row img{
		width:300px;
	}
	
	

@media(max-width:500px){
	.navi nav{
	display: flex;
	justify-content: center;
}

	.Site{
		width: 30%;
	
		
	}
	.bottom{
		display:flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.row img{
		width:190px;
		
}